In [1]:
import sys, glob, os, argparse
import pandas as pd
import numpy as np

In [8]:
# parse import file
import_file = 'hexoskin/impact/impact-time.xlsx'
input_rr_interval_dirpath = 'hexoskin/rr_interval'
input_hr_dirpath = 'hexoskin/hr'
duration_time = 10

In [9]:
impact_time_df = pd.read_excel(import_file)
df05, df15, df30, df60 = pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame()
impact_time_df

               filename 0.5m time 1.5m time 3.0m time 6.0m time
0              nov-hori  15:57:31  15:57:43  15:57:57  15:58:14
1             nov-maeda  20:34:22  20:34:34  20:34:52  20:35:12
2          nov-imanishi  09:50:54  09:51:07  09:51:20  09:51:35
3              pro-irie  17:57:57  17:58:26  17:57:15  17:59:01
4            nov-takagi  17:42:43  17:42:58  17:43:24  17:43:50
5            nov-kanata  17:33:52  17:34:02  17:34:13  17:34:25
6   nov-moritaka,yukiko  16:16:49  16:16:59  16:17:14  16:17:29
7   nov-moritaka,hayato  16:08:38  16:08:49  16:09:00  16:09:21
8            nov-tanabe  20:53:20  20:53:36  20:53:51  20:54:17
9            nov-ohashi  18:46:18  18:46:35  18:46:56  18:47:17
10            nov-saiho  18:37:42  18:37:56  18:38:09  18:38:21
11         pro-shiozaki  17:24:40  17:24:52  17:24:30  17:25:03
12           pro-aoyama  12:10:35  12:11:02  12:10:14  12:11:38
13           pro-funatu  10:52:15  10:52:44  10:51:57  10:53:15
14         pro-morimoto  18:40:02  18:40:37  18:39:38  18:41:10
15           pro-tonaki  18:03:32  18:03:42  18:03:19  18:03:54
16         nov-ishimoto  21:33:23  21:33:35  21:33:47  21:33:58
17           nov-nomoto  12:25:34  12:25:56  12:26:26  12:26:47
18           pro-yamada  21:16:29  21:16:41  21:16:15  21:17:00
19             nov-kado  20:23:51  20:24:03  20:24:15  20:24:31
20          pro-yoshida  14:58:24  14:58:42  14:58:08  14:59:07
21         nov-nakamura  14:00:01  14:00:20  14:00:37  14:00:57
22          nov-umemoto  11:54:58  11:55:14  11:55:32  11:55:48
23          nov-kigoshi  13:03:18  13:03:38  13:04:08  13:04:37
24           nov-fukuda  12:32:35  12:33:01  12:33:27  12:34:02
25         nov-yokozeki  10:30:56  10:31:16  10:31:47  10:32:11
26           nov-onishi  13:44:26  13:44:46  13:45:04  13:45:27
27             pro-mitu  15:30:26  15:30:48  15:29:54  15:31:10
28          nov-korosue  19:43:32  19:44:07  19:44:49  19:45:22
29          pro-ikinaga  19:32:19  19:32:32  19:31:59  19:33:04
30         pro-nabetani  14:03:16  14:04:05  14:02:53  14:04:24

In [12]:
row_series = impact_time_df.loc[0]
filename = row_series['filename']
path = os.path.join(input_rr_interval_dirpath, filename + '.xlsx')
data_rr_interval_df = pd.read_excel(path)
data_rr_interval_df

       time [s]  RR_interval [s/256](/api/datatype/18/)
0      5.457031                                       0
1      6.554688                                     281
2      7.074219                                     133
3      8.191406                                     286
4      8.718750                                     135
..          ...                                     ...
262  254.148438                                     266
263  254.734375                                     150
264  255.375000                                     164
265  255.882812                                     130
266  256.570312                                     176

[267 rows x 2 columns]

In [14]:
path = os.path.join(input_hr_dirpath, filename + '-converted.xlsx')
data_hr_df = pd.read_excel(path)
data_hr_df

,Unnamed: 0,time [s/256],breathing_rate [rpm](/api/datatype/33/),minute_ventilation [mL/min](/api/datatype/36/),sleep_position [NA](/api/datatype/270/),activity [g](/api/datatype/49/),heart_rate [bpm](/api/datatype/19/),cadence [spm](/api/datatype/53/),date,time
0,0,411231686629,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-26,15:56:15
1,1,411231686885,10.0,0.00,2.0,0.000000,70.0,0.0,2020-11-26,15:56:16
2,2,411231687141,10.0,0.00,NaN,0.000000,70.0,0.0,2020-11-26,15:56:17
3,3,411231687397,10.0,0.00,NaN,0.000000,70.0,0.0,2020-11-26,15:56:18
4,4,411231687653,10.0,0.00,NaN,0.445312,70.0,0.0,2020-11-26,15:56:19
...,...,...,...,...,...,...,...,...,...,...
258,258,411231752677,25.0,18684.96,NaN,0.273438,66.0,0.0,2020-11-26,16:00:33
259,259,411231752933,26.0,20637.12,NaN,0.242188,66.0,0.0,2020-11-26,16:00:34
260,260,411231753189,26.0,20637.12,NaN,0.281250,66.0,0.0,2020-11-26,16:00:35
261,261,411231753445,26.0,20637.12,NaN,0.937500,66.0,0.0,2020-11-26,16:00:36
262,262,411231753701,26.0,20637.12,NaN,0.605469,66.0,0.0,2020-11-26,16:00:37

In [39]:
# 0.5m
from datetime import datetime, timedelta, date

# get start time
diff = datetime.combine(date.today(), row_series['0.5m time']) - datetime.combine(date.today(), datetime.strptime(data_hr_df.time[0], '%H:%M:%S').time())
print(diff.total_seconds())

# get index with nearest time
# ref https://stackoverflow.com/questions/30112202/how-do-i-find-the-closest-values-in-a-pandas-series-to-an-input-number
impact_ind = (data_rr_interval_df['time [s]'] - diff.total_seconds()).abs().argsort()[0]
print(impact_ind)
duration_time_ind = (data_rr_interval_df['time [s]'] - (diff.total_seconds() - duration_time)).abs().argsort()[0]
print(duration_time_ind)
# get rr interval
rr_interval_05 = data_df.iloc[:, [1]][duration_time_ind:impact_ind+1] / 256

rename = {ind:c for c, ind in enumerate(rr_interval_05.index)}

rr_interval_05.loc['filename'] = filename
rr_interval_05.reindex(index=np.roll(rr_interval_05.index, 1))
rr_interval_05 = rr_interval_05.rename(rename)
rr_interval_05.reindex(index=np.roll(rr_interval_05.index, 1))

76.0
59
50

         RR_interval [s/256](/api/datatype/18/)
filename                               nov-hori
0                                      0.679688
1                                      0.386719
2                                      0.636719
3                                           0.5
4                                       1.49609
5                                      0.863281
6                                       1.53125
7                                       1.33203
8                                       2.37891
9                                       1.11719